{% extends 'base.html' %}
{% load humanize %}
{% block content %}

    
<div class="row">
    <div class="col-sm-4">
        
        {% for img in images %}
            {% if img.featured %}
            <div class="col-md-12 col-sm-6">
                <img class="img-thumbnail" src="{{ MEDIA_URL }}{{ img.image }}">
                <hr>
            </div>
            {% endif %}
        {% endfor %}
        
        {% for img in images %}
            {% if not img.featured %}
            <div class="col-md-6 col-sm-3">
                <a href="#" class="img-thumbnail">
                <img class="img-thumbnail" src="{{ MEDIA_URL }}{{ img.image }}">
                </a>
            </div>
            {% endif %}
        {% endfor %}
    </div>
    
    <div class="col-sm-8">

        <header class="p-3 px-md-1 mb-3 border-bottom">
        <div class="col-sm-8 float-left">
            <h1>{{ product.title }}</h1> 
        </div>
        </header>

        <div class="col-sm-4 float-rigt">
            <form class="form float-right d-grid gap-2" method="POST" action="{% url 'add_to_cart' product.slug %}"> {% csrf_token %}
                <input class="btn btn-success" type="submit" value="Tambah"> 
                <input class="form-control" name="qty" type="number" value="1">
                <!-- <input class="form-control" name="attr" type="text"> -->
                {% if product.variation_set.all %}

                    {% if product.variation_set.colors %}
                    <select class="form-control" name="color">
                        {% for item in product.variation_set.colors %}
                            <option value="{{ item.title|lower }}">{{ item.title|capfirst }}</option>
                            <!-- <option value="green">Hijau</option>
                            <option value="blue">Biru</option> -->
                        {% endfor %}
                    </select>
                    {% endif %}

                {% endif %}
            </form>
        </div>
        <br>
        <div class="col-sm-12">
        Harga: Rp {{ product.price|intcomma }}
        <hr>
        </div>

        <div class="col-sm-12">
        {{ product.description|linebreaks}}
        </div>
    </div>
</div>
{% endblock content %}
    