<div class="modal fade" tabindex="-1" id="marketingModal">
    <form method="POST" action="{% url 'ajax_email_signup' %}" id="sendForm">{% csrf_token %}
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Daftarkan Email Anda</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <!-- <input class="form-control" type="text" placeholder="Enter Email"> -->
                    <p id="modalMessage"></p>
                    <input type="email" id="id_email" class="form-control" maxlength="200" name="email" placeholder="Your Email">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Tutup</button>
                    <input type="submit" class="btn btn-success" id="sendMarketingForm">
                </div>
            </div>
        </div>
    </form>
</div>